@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-weight: 700;
    font-size: 1.875em !important;

  }
  h2 {
    font-weight: 700;
    font-size: 1.4em !important;

  }
  h3 {
    font-weight: 700;
    font-size: 1.25em !important;
  }
}

@media (prefers-color-scheme: dark) {
  button:focus, a:focus {
    outline: 1px solid white;
  }
  .active {
    outline: 1px solid white;
  }
}

@media (prefers-color-scheme: light) {
  button:focus, a:focus {
    outline: 1px solid #0a0a0a;
  }
  .active {
    outline: 1px solid #0a0a0a;
  }
 }


.togglebox-hidden {
  opacity: 0;
  display: none !important;
}

.phone-nav-show {
  max-height: 500px !important;
}

@media (max-width: 640px) {
  body {
    font-size: 14px !important;
  }
} 


