@layer base {
  h1 {
    font-weight: 700;
    @apply text-3xl;
  }
  h2 {
    font-weight: 700;
    @apply text-2xl;
  }
  h3 {
    font-weight: 700;
    @apply text-xl;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.togglebox-hidden {
  opacity: 0;
  display: none !important;
}

@media (max-width: 640px) {
  body {
    font-size: 14px !important;
  }
} 
